@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&display=swap');

:root {
    --primary-color: #073f58;
    --secondary-color: #4CAF50;
    --background-color: #F8F7F1;
    --text-color: #333333;
    --font-family: 'Cabin', sans-serif;
    --font-family-alt: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background: var(--background-color);
    color: var(--primary-color);
}

.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
    overflow-x: clip;
    position: relative;
    color: var(--primary-color);
    background: var(--background-color);
}

/* header */

.header{
    z-index: 99;
    position: sticky;
    top: 0px;
    transition: all .3s ease;
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 1;
    transform: none;
    box-shadow: none;
}

.name{
    grid-column: 1;
    align-content: center;
    font-family: "Marck Script", "Comic Sans MS", cursive;
    font-size: 1.5rem;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
    width: 100%;
    font-weight: 500;
}

.menu{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    list-style: none;
    gap: 1.5rem;
    cursor: pointer;
}


.menu-to-split{
    justify-self: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    list-style: none;
    gap: 1.5rem;
    cursor: pointer;
}

.phone{
    display : flex;
    align-items: center;
    align-self: end;
    gap: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
}

.phone :hover{
    color: var(--secondary-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.phone svg {
    color:var(--secondary-color);
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    padding : 8px;
    border-radius: 50%;
    background: #ffffff;
}

.menu li a{
    text-decoration: none;
    color:var(--primary-color);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    font-family: var(--font-family-alt);
    scroll-behavior: smooth;
}

.menu li a:hover{
    color: var(--secondary-color);
    transition: all 0.3s ease;
}

.menu a:hover::before {
    content: '( ';
    opacity: 1;
}

.menu a:hover::after {
    content: ' )';
    opacity: 1;
}

/* sekce home */

.home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.home-div {
    display: grid;
    grid-template-columns: 1fr 750px 1fr;
    grid-template-rows: repeat(4, 200px);
    width: 90%;
    justify-content: center;
    align-content: center;
}

.home-div-up-left{
    grid-column: 1/4;
    grid-row: 1;
    align-self: center;
    justify-self: left;
}

.person{
    grid-column: 2;
    grid-row: 1 / -1;
    width: 750px;
    text-align: center;
    place-self: end center;
    position: static;
    gap: -30px;
}

.person img{
    float: center;
    width: 100%;
    height: auto;
}

.home-div-up-right{
    grid-column: 1/4;
    grid-row: 1;
    align-self: center;
    justify-self: right;
}

.email{
    grid-column :1/4;
    grid-row: 2/4;
    align-self: center;
    justify-self: left;
    color: coral;
    font-size: 1.3rem;
    font-weight: bold;
}

.home-div-down-left{
    grid-column: 1/4;
    grid-row: 4;
    align-self: center;
    justify-self: left;
    align-items: center;
    display: flex;
    align-content: flex-start;
    gap: 10px;
    color: var(--primary-color);
}


#experience{
    display: flex;
    justify-items: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-family: var(--font-family);
    font-weight: 400;
    text-align: left;
}

.home-div-down-right{
    grid-column: 1/4;
    grid-row: 3;
    display: flex; 
    flex-direction: column;
    place-self: center end; 
    padding-top: 30px;
}

.home-div-down-right .second-text{
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    text-align: center; 
    color: var(--text-color);
}

.home-div-down-right img {
    display: block;
    align-self: center; 
}


/* obecné*/

.main-text{
    font-size: 4.2rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-family: var(--font-family);
    font-weight: bold;
}

.second-text{
    display: flex;
    justify-items: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    font-family: var(--font-family);
    font-weight: 400;
}